<li>
	{{burger_name}}
	
	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}EAT TIME{{else}}Remake{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	
</li>
